@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.blue-section {
    background-color: $primaryColor;

    .container-small {
        width: 1000px;
        height: 6rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .icons {
            cursor: pointer;

            img {
                height: 2rem;
                vertical-align: middle;
            }
    
            span {
                vertical-align: middle;
                margin-left: 0.5rem;
            }
        }
    }
}
.container {
    @include containerBase;
    height: 100%;
    justify-content: space-between;
}

.top-footer {
    background-image: url("../assets/img/vue-dc-comics-1/img/footer-bg.jpg");

    .menu-side {
        display: flex;
        padding: 1rem;

        .nav-2 {
            margin-top: 1rem;
        }

        .nav-3,
        .nav-4 {
            margin-left: 2rem;
        }

        h3 {
            color: white;
        }

        ul {
            list-style: none;

            a {
                color: lightgray;
                text-decoration: none;
                font-size: 0.7rem;
            }
        }


    }

    .logo-side {
        height: 100%;
        
        img {
            height: 16rem;
        }
    }
}

.bottom-footer {
    background-color: #303030;
    height: 5rem;

    .container {
        align-items: center;
    }

    .sign-up-btn {
        @include buttonBase;
        color: white;
        border: 2px solid $primaryColor;
    }

    .follow-up-btn {
        @include buttonBase;
        background-color: transparent;
        border: none;
        color: $primaryColor;
    }

    .icon-btn {
        @include iconBtn;
    }
}

.end-footer {
    background-color: #222222;
    height: 1rem;
}