.blue-section {
    background-color: #0282f9;

    .container-small {
        width: 1000px;
        height: 6rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        img {
            height: 2rem;
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
            margin-left: 0.5rem;
        }
    }
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top-footer {
    background-image: url("../assets/img/vue-dc-comics-1/img/footer-bg.jpg");
    height: calc(100vh - 22rem);

    .menu-side {
        display: flex;
        padding: 1rem;

        .nav-2 {
            margin-top: 1rem;
        }

        .nav-3,
        .nav-4 {
            margin-left: 2rem;
        }

        h3 {
            color: white;
        }

        ul {
            list-style: none;

            a {
                color: lightgray;
                text-decoration: none;
                font-size: 0.7rem;
            }
        }


    }

    .logo-side {
        height: 100%;
        
        img {
            height: 100%;
            object-fit: contain;
        }
    }
}

.bottom-footer {
    background-color: #303030;
    height: 5rem;
}

.end-footer {
    background-color: #222222;
    height: 1rem;
}