@use "./variables.scss" as *;
@use "./mixins.scss" as *;

header {
    background-color: white;
}

.container {
    @include containerBase;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .logo-container {
        height: 4rem;
        vertical-align: middle;

        img {
            height: 100%;
        }
    }

    nav {
        vertical-align: middle;
        height: 100%;

        ul {
            list-style: none;
            display: flex;
            height: 100%;
            margin: 0;

            li {
                cursor: pointer;
                display: flex;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: black;
                    padding: 2rem 1rem;
                }
            }
        }
    }
}

.active {
    box-shadow: inset 0px -7px 0px 0px $primaryColor;
}