main {
    background-color: black;

    .container {
        height: 5rem;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        h3 {
            color: white;
        }
    }
}