@use "./variables.scss" as *;

main {
    background-color: black;

    .jumbotron {
        height: 20rem;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 2rem;

        h3 {
            color: white;
            background-color: $primaryColor;
            padding: 1rem 2rem;
            position: absolute;
            top: -27px;
        }

        .card {
            width: calc(100% / 6);
            padding: 1rem;
        }
    }
}