@mixin iconBtn{
    background-color: gray;
    color: #303030;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    cursor: pointer;
}

@mixin containerBase {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

@mixin buttonBase {
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
}